utils/ckeditor/plugins/tei-ann/config/tei-ann_UI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="xsd2json.xsl" type="text/xsl"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="teiHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="date"/>
                <xsd:element name="hi"/>
                <xsd:element name="lb"/>
                <xsd:element name="pb"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>